header {
  padding: 1rem 0;

  &> div {
    width: 960px;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo-container {
    a {
      width: 320px;
      max-width: 60%;
      height: auto;
      margin: 0 auto;
      display: block;
    }
  }
  nav {
    ul {
      list-style-type: none;
      display: flex;

      li {
        display: block;
        margin-right: 1rem;

        &:last-of-type {
          margin-right: 0;
        }
        a {
          text-decoration: none;
        }
      }
    }
  }
}