@import 'variables';

div[class^='message-'] {
  width: 100%;
  padding: .25rem 0;
  text-align: center;
  font-size: .925rem;

  p {
    color: #fff;
  }
  &.message-info {
    background-color: $messageInfo;
  }
  &.message-error {
    background-color: $messageError;
  }
  &.message-success {
    background-color: $messageSuccess;
  }
  &.message-notice {
    background-color: $messageNotice;
  }
  &.message-warning {
    background-color: $messageWarning;
  }
}