@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap');

/* Fonts */
$primaryFont: 'Poppins', inter, sans-serif;

/* Colours */
$pageBackgroundHue: #151431;
$primaryHue: #4800ba;
$primaryTextHue: #a9a9a9;

$messageInfo: #4444f1;
$messageSuccess: #68b468;
$messageNotice: #808080;
$messageWarning: #de9c39;
$messageError: #b23d3d;