{layout '../app.layout.latte'}

{block title}Login | {/block}

{block header}
    <link rel="stylesheet" href="/assets/security.css" />
{/block}
{block content}
    <section class="security my-6 mx-auto">
        {$form->render()|noescape}
    </section>
{/block}