{layout '../app.layout.latte'}

{block title}Register | {/block}

{block header}
    <link rel="stylesheet" href="/assets/security.css" type="text/css" />
{/block}

{block content}
    <section class="security">
        {$form->render()|noescape}
    </section>
{/block}