<!doctype html>
<html lang="{Luma\Framework\Luma::getConfigParam('app.language')}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{block title}{/block}{Luma\Framework\Luma::getConfigParam('app.name')}</title>

    <link rel="stylesheet" type="text/css" href="/assets/styles.css" />
    {block header}{/block}
</head>
<body class="p-0 m-0 box-border text-gray-400 bg-app-dark">
    {include 'components/messages.latte', messages: $messages}
    {include 'components/header/header.latte', user: $user}
    {block content}{/block}
    <script src="/assets/app.js"></script>
</body>
</html>