@import '../global/variables';

.security {
  margin: 1.5rem auto;

  .already-logged-in {
    text-align: center;
  }
  form {
    width: 380px;
    max-width: 90%;
    display: grid;
    grid-gap: .75rem;
    margin: 0 auto;

    h1 {
      text-align: center;
    }
    label {
      display: block;
    }
    input {
      &[type='text'],
      &[type='email'],
      &[type='password'] {
        padding: .5rem;
        width: 100%;
      }
      &[type='submit'] {
        border: 1px solid $primaryHue;
        padding: .5rem .75rem;
        font-size: 1.1rem;
        background-color: $primaryHue;
        cursor: pointer;
        color: #fff;
        transition: .4s ease;

        &:hover {
          background-color: transparent;
          color: $primaryHue;
        }
      }
    }
    div {
      margin: .25rem 0;

      &:last-of-type {
        text-align: center;
      }
    }
  }
}