{layout '../app.layout.latte'}

{block content}
    <div class="max-w-md text-center py-8 px-2 my-12 mx-auto">
        {if $user}
            <p class="py-3">
                You are logged in as <strong>{$user->getUsername()}</strong>
            </p>
        {/if}
        <p class="py-3">
            Welcome to your new Luma application! Delete or modify this file to start building!
        </p>
    </div>
{/block}